---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags-page">
  <p class="tags-intro">Browse all posts by tag:</p>
  
  <div class="tags-dropdown-container">
    <div class="tags-dropdown">
      <button class="dropdown-button">
        <span class="selected-tag">All Tags</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#all" class="dropdown-item tag-filter" data-tag="all">All Tags</a>
        
        {% assign normalized_tags = "" | split: "" %}
        {% assign tag_display_names = "" | split: "" %}
        {% assign tag_counts = "" | split: "" %}
        
        {% for tag in site.tags %}
          {% assign tag_name_lower = tag[0] | downcase %}
          {% assign found = false %}
          
          {% for i in (0..normalized_tags.size) %}
            {% if i < normalized_tags.size %}
              {% if normalized_tags[i] == tag_name_lower %}
                {% assign found = true %}
                {% assign current_count = tag_counts[i] | plus: tag[1].size %}
                {% assign tag_counts[i] = current_count %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}
          
          {% if found == false %}
            {% assign normalized_tags = normalized_tags | push: tag_name_lower %}
            {% assign tag_display_names = tag_display_names | push: tag[0] %}
            {% assign tag_counts = tag_counts | push: tag[1].size %}
          {% endif %}
        {% endfor %}
        
        {% assign combined_tags = "" | split: "" %}
        {% for i in (0..normalized_tags.size) %}
          {% if i < normalized_tags.size %}
            {% capture tag_info %}{{ tag_display_names[i] }}|{{ tag_counts[i] }}|{{ normalized_tags[i] }}{% endcapture %}
            {% assign combined_tags = combined_tags | push: tag_info %}
          {% endif %}
        {% endfor %}
        
        {% assign sorted_tags = combined_tags | sort %}
        
        {% for tag_info in sorted_tags %}
          {% assign tag_parts = tag_info | split: "|" %}
          {% assign display_tag = tag_parts[0] %}
          {% assign count = tag_parts[1] %}
          {% assign normalized_tag = tag_parts[2] %}
          <a href="#{{ normalized_tag | slugify }}" class="dropdown-item tag-filter" data-tag="{{ normalized_tag | slugify }}" data-normalized-tag="{{ normalized_tag }}">#{{ display_tag }} ({{ count }})</a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="tags-cloud">
    <a href="#all" class="tag-cloud-item tag-filter" data-tag="all">
      All <span class="tag-count">({{ site.posts.size }})</span>
    </a>
    
    {% for tag_info in sorted_tags %}
      {% assign tag_parts = tag_info | split: "|" %}
      {% assign display_tag = tag_parts[0] %}
      {% assign count = tag_parts[1] | plus: 0 %}
      {% assign normalized_tag = tag_parts[2] %}
      
      {% assign tag_size_class = count | divided_by: 5 | plus: 1 %}
      {% if tag_size_class > 5 %}{% assign tag_size_class = 5 %}{% endif %}
      
      <a href="#{{ normalized_tag | slugify }}" class="tag-cloud-item tag-filter tag-size-{{ tag_size_class }}" data-tag="{{ normalized_tag | slugify }}" data-normalized-tag="{{ normalized_tag }}">
        #{{ display_tag }} <span class="tag-count">({{ count }})</span>
      </a>
    {% endfor %}
  </div>
  
  <div class="tag-filter-container">
    <div class="tags-list">
      {% for tag_info in sorted_tags %}
        {% assign tag_parts = tag_info | split: "|" %}
        {% assign display_tag = tag_parts[0] %}
        {% assign count = tag_parts[1] | plus: 0 %}
        {% assign normalized_tag = tag_parts[2] %}
        
        <div class="tag-section" id="{{ normalized_tag | slugify }}" data-tag-section="{{ normalized_tag | slugify }}">
          <h2 class="tag-title">#{{ display_tag }}</h2>
          <ul class="tag-posts">
            {% for tag_obj in site.tags %}
              {% assign current_tag_downcase = tag_obj[0] | downcase %}
              {% if current_tag_downcase == normalized_tag %}
                {% for post in tag_obj[1] %}
                  <li class="tag-post-item">
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    {% if post.tags.size > 1 %}
                      <div class="related-tags">
                        {% for post_tag in post.tags %}
                          {% assign post_tag_lower = post_tag | downcase %}
                          {% if post_tag_lower != normalized_tag %}
                            {% assign found_related = false %}
                            {% for related_tag_info in sorted_tags %}
                              {% assign related_parts = related_tag_info | split: "|" %}
                              {% if related_parts[2] == post_tag_lower %}
                                <a href="#{{ post_tag_lower | slugify }}" class="related-tag tag-filter-link" data-filter="{{ post_tag_lower | slugify }}">#{{ related_parts[0] }}</a>
                                {% assign found_related = true %}
                                {% break %}
                              {% endif %}
                            {% endfor %}
                            
                            {% if found_related == false %}
                              <a href="#{{ post_tag_lower | slugify }}" class="related-tag tag-filter-link" data-filter="{{ post_tag_lower | slugify }}">#{{ post_tag }}</a>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ '/assets/js/taxonomy-filter.js' | relative_url }}"></script>