<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  </div> <!-- Cierre de .site-content -->
  </div> <!-- Cierre de .site-container -->

  <!-- Module loader script -->
  <script src="{{ '/assets/js/module-loader.js' | relative_url }}"></script>
  
  <!-- Load sidebar modules -->
  <script src="{{ '/assets/js/dynamic-sidebar.js' | relative_url }}"></script>
  

  <!-- Define archive paths first -->
  <script>
    // Define paths for modules only if they don't exist yet
    window.ARCHIVE_PATHS = {
      FILTERS_PATH: "{{ '/assets/js/modules/filters.js' | relative_url }}",
      SORTING_PATH: "{{ '/assets/js/modules/sorting.js' | relative_url }}",
      RENDERING_PATH: "{{ '/assets/js/modules/rendering.js' | relative_url }}",
      DROPDOWNS_PATH: "{{ '/assets/js/modules/dropdowns.js' | relative_url }}",
      URL_MANAGER_PATH: "{{ '/assets/js/modules/urlManager.js' | relative_url }}",
      SEARCH_PATH: "{{ '/assets/js/modules/search.js' | relative_url }}",
      ARCHIVE_FILTERS_PATH: "{{ '/assets/js/archive-filters.js' | relative_url }}"
    };
    // console.log('ARCHIVE_PATHS defined:', window.ARCHIVE_PATHS);
  </script>
  <script src="{{ '/assets/js/archive-module-loader.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/turbo-handlers.js' | relative_url }}"></script>
  

  {% if site.github %}
  <script src="{{ "/assets/js/github-calendar.js" | relative_url }}"></script>
  {% endif %}
  <!-- Script para manejar el scroll de paginación -->
  <!-- <script src="{{ '/assets/js/pagination-scroll.js' | relative_url }}"></script> -->
  
  <!-- Add this before the closing body tag -->
  <script src="{{ '/assets/js/post-preview.js' | relative_url }}"></script>
  
  <!-- Include the post layout script -->
  <script src="{{ '/assets/js/post-layout.js' | relative_url }}"></script>
  
  <!-- TOC script -->
  <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  
</body>
</html>