---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="post-title">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div id="pagination-section" class="content-container">

    <h2 class="post-list-heading" id="recent-posts">{{ page.list_title | default: "Posts" }}</h2>

    <div class="home-posts-list">
      {%- for post in paginator.posts -%}
      <div class="home-post-item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-meta">
          <span class="post-date">{{ post.date | date: date_format }}</span>
          {% if post.categories.size > 0 %}
          <div class="post-categories">
            {% for category in post.categories %}
            <a class="category-badge" href="/archive?category={{ category | uri_escape }}" data-no-instant>{{ category
              }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="post-content-wrapper">
          <a class="post-link" href="{{ post.url | relative_url }}"
            data-description="{{ post.excerpt | strip_html | truncate: 150 }}">{{ post.title | escape }}</a>

          {% if post.tags.size > 0 %}
          <div class="post-tags">
            {% for tag in post.tags %}
            <a class="related-tag" href="/archive?tag={{ tag | slugify }}" data-no-instant>#{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {%- endfor -%}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}#pagination-section" class="previous pagination-link">
        &laquo; Anterior
      </a>
      {% else %}
      <span class="previous">&laquo; Anterior</span>
      {% endif %}
      <span class="page_number">
        Página {{ paginator.page }} de {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}#pagination-section" class="next pagination-link">Siguiente
        &raquo;</a>
      {% else %}
      <span class="next">Siguiente &raquo;</span>
      {% endif %}
    </div>
  </div>

  {%- endif -%}

</div>